.navbar {
  background-color #3071a9 !important
}
.navbar .site-name {
  color: white !important
}
.navbar .links {
  background-color transparent !important
  color: white
}
@media (min-width: 719px) {
  .nav-links a:hover, .nav-links a.router-link-active {
      color white !important
      border-bottom: 2px solid #afdaff !important
  }
}